In [3]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder

# Step 1: Create the dataset
data = {
    "Id": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
    "Age": ["<21", "<21", "21-35", ">35", ">35", ">35", "21-35", "<21", "<21", ">35", "<21", "21-35", "21-35", ">35"],
    "Income": ["High", "High", "High", "Medium", "Low", "Low", "Low", "Medium", "Low", "Medium", "Medium", "Medium", "High", "Medium"],
    "Gender": ["Male", "Male", "Male", "Male", "Female", "Female", "Female", "Male", "Female", "Female", "Female", "Male", "Female", "Male"],
    "Ms": ["Single", "Married", "Single", "Single", "Single", "Married", "Married", "Single", "Married", "Single", "Married", "Married", "Single", "Married"],
    "Buys": ["No", "No", "Yes", "Yes", "Yes", "No", "Yes", "No", "Yes", "Yes", "Yes", "Yes", "Yes", "No"]
}
df = pd.DataFrame(data)

# Step 2: Encode categorical variables using LabelEncoder
le = LabelEncoder()
for col in ["Age", "Income", "Gender", "Ms", "Buys"]:
    df[col] = le.fit_transform(df[col])


df

    Id  Age  Income  Gender  Ms  Buys
0    1    1       0       1   1     0
1    2    1       0       1   0     0
2    3    0       0       1   1     1
3    4    2       2       1   1     1
4    5    2       1       0   1     1
5    6    2       1       0   0     0
6    7    0       1       0   0     1
7    8    1       2       1   1     0
8    9    1       1       0   0     1
9   10    2       2       0   1     1
10  11    1       2       0   0     1
11  12    0       2       1   0     1
12  13    0       0       0   1     1
13  14    2       2       1   0     0

In [4]:
# Step 3: Split the dataset into features (X) and target (y)
X = df[["Age", "Income", "Gender", "Ms"]]
y = df["Buys"]

# Step 4: Train the Decision Tree Classifier
clf = DecisionTreeClassifier(criterion="entropy", random_state=42)
clf.fit(X, y)

# Step 5: Test data (simplified version)
test_data = [[0, 2, 1, 1]]  # [Age < 21, Income = Low, Gender = Female, Marital Status = Married]

# Step 6: Predict the outcome for the test data
prediction = clf.predict(test_data)
print("Prediction for the test data: ", "Yes" if prediction[0] == 1 else "No")

Prediction for the test data:  Yes

C:\Users\ADITYA\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(